{{- $email := promptStringOnce . "email" "Email address" -}}
encryption = "age"

[data]
    email = {{ $email | quote }}

[git]
    autoCommit = true
    autoPush = true

[diff]
    command = "meld"
    args = [
        "-d",
        {{ printf "%q" "{{ .Destination }}" }},
        {{ printf "%q" "{{ .Target }}" }},
    ]
    exclude = ["scripts"]

[merge]
    command = "nvim"
    args = [
        "-d",
        {{ printf "%q" "{{ .Destination }}" }},
        {{ printf "%q" "{{ .Source }}" }},
        {{ printf "%q" "{{ .Target }}" }},
    ]

[age]
    identities = ["/home/jk/key.txt"]
    recipients = ["age1wuggwh8h0vu36c7jt367m4vwsnhcffwf0y983jmdneudpez9k4vs2wa8x4"]