[user]
	name = Jo
	email = {{ .email }}
	signingkey = ~/.ssh/id_ed25519
[init]
	defaultBranch = main
[gpg]
	format = ssh

[commit]
	gpgsign = true
[core]
	autocrlf = input
[http]
	lowSpeedLimit = 1000
	lowSpeedTime = 60
	postBuffer = 524288000
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential]
        helper = store
